# Specifies intentionally untracked files to ignore when using Git

*~
*.tmp
.tmp.
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.tmp/
dist/
node_modules/
tmp/
$RECYCLE.BIN/